body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fafc;
  box-sizing: border-box;
}

.small-name {
  font-size: 1em;
}

a {
  text-decoration: none;
}

.ul-nav {
  list-style-type: none;
  padding-left: 0px;
}

.button {
  background-color: #000;
  color: #fff;
  width: 100px;
  margin: auto;
  border-radius: 25px;
  padding: 10px 300px;
  text-align: center;
  display: inline-block;
}

.grey-text {
  color: #69696a;
}

.about {
  border-left: 2px solid #69696a;
  padding: 10px;
  word-wrap: break-word;
  width: 100%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding-right: 20px;
  padding-left: 10px;
  background-color: rgba(247, 193, 162, 0.7);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.ul-footer {
  display: flex;
  justify-content: space-around;
}

.li-nav {
  padding: 0 10px;
}

/* MEDIA QUERY */

@media screen and (min-width: 768px) {
  .desktop-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .ul-nav-desktop {
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }

  .desktop-button {
    padding: 10px 0px;
  }

  .desktop-lorem {
    width: 50%;
  }

  /* CIRCLES */

  .circle-container {
    display: flex;
    justify-content: flex-end;
  }
  .circle {
    background-color: black;
    opacity: 0.5;
    border-radius: 50%;
    position: absolute;
    /* visibility: hidden; */
    /* display: none; */
  }

  .circle-sm {
    width: 65px;
    height: 65px;
    background-color: rgba(207, 130, 213, 0.6);
    top: 300px;
  }

  .circle-med {
    width: 85px;
    height: 85px;
    background-color: rgba(247, 193, 162, 0.7);
    top: 345px;
    right: 15px;
  }

  .circle-lg {
    width: 105px;
    height: 105px;
    background-color: rgba(247, 136, 167, 0.6);
    top: 285px;
    right: 50px;
  }
}
